<div class="color2">
  <section id="things-to-do">




      <h2>To Do in Tampa</h2>

      <p>
        Here’s an <%= link_to("http://nymag.com/travel/weekends/tampa/", "article") %> from New York Magazine that highlights a few Tampa features, and below are Jeff and Clare's recommendations.
      </p>

      <% @categories.each do |category| %>

      <h3><%= category.name %></h3>
      <%if category.subtitle%>
        <p><%= category.subtitle %></p>
      <%end%>
      <% category.locations.each do |location| %>
        <p><b><%= link_to(location.link, location.name, {:target=> "_blank"})%>: </b><%= location.description %></p>
      <%end%>

    <% end %>
  <section>
</div>