<h2>répondez s'il vous plaît <b>RSVP</b></h2>
<form action='/' method="POST">
  <%= "Your Name:<input name='full_name' />" %><br>
  <%= "Your Email:<input name='email' />" %><br>
  <%= "How Many In Your Party?:<input name='full_name' />" %><br>
  <h3>Will You Be Coming?</h3>
  <%= "<input type='radio' name='true' />" %>Yes!<br>
  <%= "<input type='radio' name='false' />" %>Sadly, No :(<br>
  <%=  "Message for the happy couple: <textarea></textarea>"%>
</form>