<img src='img/clare-jeff.jpg' class='header-img' alt='A picture of Clare and Jeff'>
<%= erb(:'partials/about_us', :layout => false) %>
<%= erb(:'partials/things_to_do', :layout => false) %>
<%= erb(:'partials/registry', :layout => false) %>
<%= erb(:'partials/cermony', :layout => false) %>
<%= erb(:'partials/accommodations', :layout => false) %>
<a href="https://api.instagram.com/oauth/authorize/?client_id=5ea771cd62864fbda376adb32fae0bf4&amp;redirect_uri=http://localhost:9393/&amp;response_type=code">Login</a>